@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using MatchingGame.Shared
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

@if (EstaConectado)
{
    <div class="container">

        <div class="row d-flex justify-content-center">

            <div class="card mt-md-5 p-3">

                <div class="card-body">

                    <div class="form-group">

                        <label>Nombre de usuario:</label>
                        <input @bind="Nombre" />

                    </div>

                    <div class="form-group d-flex flex-column m-0">

                        <button type="button" class="btn btn-success btn-lg"
                                @onclick="BuscarPartida" disabled="@(buscandoPartida)">
                            @if (buscandoPartida)
                            {
                                <span>Buscando partida...</span>
                            }
                            else
                            {
                                <span>Buscar partida</span>
                            }
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>
}
else
{
    <div class="alert alert-danger d-flex justify-content-center" role="alert">
        <div>
            <span class="oi oi-warning mr-2"/><b>No estás conectado</b>
        </div>
    </div>
    
}

@code {
    private HubConnection hubConnection;
    private string Nombre;
    private string Oponente;
    private bool buscandoPartida = false;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/peticion_hub"))
            .Build();

        hubConnection.On<int>("RecibirPartida", (partidaId) =>
        {
            Oponente = partidaId.ToString();
            NavigationManager.NavigateTo($"/partida/{partidaId}/{Nombre}");
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        StateHasChanged();
    }

    async Task BuscarPartida()
    {
        if (String.IsNullOrEmpty(Nombre))
            return;

        buscandoPartida = true;

        await hubConnection.SendAsync("RecibirPeticion", Nombre, "partidaNormal");
    }

    public bool EstaConectado =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}