@page "/nosotros"
    <div class="container-fluid">
        <div class="card shadow-lg p-0" style="background-color:lightgray">
            <div class="card-header text-center" >
                <h2><strong class="card-title">Nosotros</strong></h2>
            </div>
            <div class="card-body col d-flex flex-column">
                <div class="row d-flex flex-row justify-content-around">

                    <div class="col col-2 d-flex flex-column justify-content-center text-center">
                        <img class="rounded-circle" src="/Images/Us/Wilson.png" />
                        <br />
                        <strong><a class="text-black" href="https://github.com/WilsonGomez-prog" target="_blank">Wilson Alfonso Gómez</a></strong>
                    </div>

                    <div class="col col-2 d-flex flex-column justify-content-center text-center">
                        <img class="rounded-circle" src="/Images/Us/David.jpg" />
                        <br />
                        <strong><a class="text-black" href="https://github.com/DavidJMariaCordero" target="_blank">David J. Maria Cordero</a></strong>
                    </div>
                </div>

                <br />
                <br />

                <div class="row d-flex flex-row justify-content-around">
                    <div class="col col-2 d-flex flex-column justify-content-center text-center">
                        <img class="rounded-circle" src="/Images/Us/Diego.jpg" />
                        <br />
                        <strong><a class="text-black" href="https://github.com/DiegoJVD">Diego José Valerio</a></strong>
                    </div>

                    <div class="col col-2 d-flex flex-column justify-content-center text-center">
                        <img class="rounded-circle" src="/Images/Us/Jean.jpg" />
                        <br />
                        <strong><a class="text-black" href="https://github.com/Kleyton72" target="_blank">Jean Carlos Santos</a></strong>
                    </div>

                    <div class="col col-2 d-flex flex-column justify-content-center text-center">
                        <img class="rounded-circle" src="/Images/Us/Alvin.jpg" />
                        <br />
                        <strong><a class="text-black" href="https://github.com/AlvinDJA" target="_blank">Alvin De Jesús</a></strong>
                    </div>
                </div>
            </div>
            <div class="card-footer col d-flex flex-column justify-content-center text-center">
                <strong><a href="https://github.com/Kleyton72/MatchingGame" target="_blank">Clickea aquí si deseas echar un vistazo a nuestro repositorio!!</a></strong>
            </div>
        </div>
    </div>
