@page "/nosotros"
<div class="container-fluid">
    <div class="card shadow-lg bg-light border border-1 border-dark p-0">

        <div class="card-header text-center bg-transparent" >
            <span class="fs-2">Nosotros</span>
        </div>

        <div class="card-body">

            <div class="row d-flex justify-content-center mb-0 mb-md-4">

                <div class="col-md-6 row d-flex justify-content-center text-center mb-3 mb-md-0">
                    <div class="col-md-4 col-3 p-0">
                        <img class="img-fluid rounded-circle" src="/Images/Us/Wilson.png" />
                    </div>
                    <div class="col-md-12 col-6 d-flex align-items-center justify-content-center p-0 py-2">
                        <a href="https://github.com/WilsonGomez-prog" target="_blank">
                            <b>Wilson Alfonso Gómez</b>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 row d-flex justify-content-center text-center mb-3 mb-md-0">
                    <div class="col-md-4 col-3 p-0">
                        <img class="img-fluid rounded-circle" src="/Images/Us/David.jpg" />
                    </div>
                    <div class="col-md-12 col-6 d-flex align-items-center justify-content-center py-0">
                        <a href="https://github.com/DavidJMariaCordero" target="_blank">
                            <b>David J. Maria Cordero</b>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row d-flex justify-content-center">

                <div class="col-md-4 row d-flex justify-content-center text-center mb-3 mb-md-0">
                    <div class="col-md-6 col-3 p-0">
                        <img class="img-fluid rounded-circle" src="/Images/Us/Diego.jpg" />
                    </div>
                    <div class="col-md-12 col-6 d-flex align-items-center justify-content-center p-0 py-2">
                        <a href="https://github.com/DiegoJVD" target="_blank">
                            <b>Diego José Valerio</b>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 row d-flex justify-content-center text-center mb-3 mb-md-0">
                    <div class="col-md-6 col-3 p-0">
                        <img class="img-fluid rounded-circle" src="/Images/Us/Jean.jpg" />
                    </div>
                    <div class="col-md-12 col-6 d-flex align-items-center justify-content-center p-0 py-2">
                        <a href="https://github.com/Kleyton72" target="_blank">
                            <b>Jean Carlos Santos</b>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 row d-flex justify-content-center text-center">
                    <div class="col-md-6 col-3 p-0">
                        <img class="img-fluid rounded-circle" src="/Images/Us/Alvin.jpg" />
                    </div>
                    <div class="col-md-12 col-6 d-flex align-items-center justify-content-center p-0 py-2">
                        <a href="https://github.com/AlvinDJA" target="_blank">
                            <b>Alvin De Jesús</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center bg-transparent">
            <span class="fw-bold">
                <a href="https://github.com/Kleyton72/MatchingGame" target="_blank">
                    Clickea aquí si deseas echar un vistazo a nuestro repositorio!!
                </a>
            </span>
        </div>
    </div>
</div>
