@page "/register"
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IToastService Toast

<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-6 mt-md-4 ">
            <div class="card shadow-lg bg-info bg-gradient border-1 border-dark ">

                <div class="card-header border-0 bg-transparent">
                    <div class="d-flex flex-column text-center my-2">
                        <div class="d-flex justify-content-center">
                            <img class="rounded-circle" src="/Images/tempLogo.jpg" width="120" />
                        </div>
                        <span class="fs-4 mt-2">
                            <b>Registrarse</b>
                        </span>
                    </div>
                </div>

                <div class="d-flex justify-content-center m-1 ">
                    <form>
                        <div class="input-group mb-3 ">
                            <span class="input-group-text"><i class="oi oi-person"></i></span>
                            <input type="text" class="form-control m-0" placeholder="Nombres" @bind="usuarioRegistro.Nombres">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="oi oi-envelope-closed"></i></span>
                            <input type="text" class="form-control m-0" placeholder="Correo Electrónico" @bind="usuarioRegistro.Email">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="oi oi-shield"></i></span>
                            <input type="text" class="form-control m-0" placeholder="Nombre de usuario" @bind="usuarioRegistro.NickName">
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-6 mb-3">
                                <div class=" input-group ">
                                    <span class="input-group-text"><i class="oi oi-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Contraseña" @bind="usuarioRegistro.Clave">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group ">
                                    <span class="input-group-text"><i class="oi oi-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Confirmar contraseña" @bind="usuarioRegistro.ConfirmarClave">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column">
                            <button type="button" class="btn btn-success" @onclick="RegistrarUsuario">Registrarse</button>
                        </div>
                    </form>
                </div>

                <div class="my-4 text-center">
                    ¿Ya estás registrado? <a href="/login">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
    @code {
        public RegisterModel usuarioRegistro { get; set; }

        protected override void OnInitialized()
        {
            usuarioRegistro = new RegisterModel();
        }

        public async Task RegistrarUsuario()
        {

            bool registroResultado = await UserService.RegisterAsync(usuarioRegistro);
            int validacionResultado = await UserService.Validar(usuarioRegistro);
            Console.WriteLine(validacionResultado);
            if (registroResultado && validacionResultado == 0)
            {
                Toast.ShowSuccess("Registrado correctamente");
                NavigationManager.NavigateTo("/login");
            }
            if(usuarioRegistro.Nombres is null)
            {
                Toast.ShowError("Ingrese un nombre");
            }
            if (usuarioRegistro.Clave is null)
            {
                Toast.ShowError("Ingrese una contraseña");
            }
            if (usuarioRegistro.ConfirmarClave is null)
            {
                Toast.ShowError("Por favor confirme su contraseña");
            }
            if (usuarioRegistro.Email is null)
            {
                Toast.ShowError("Ingrese una Direccion de correo electronico");
            }
            else if (usuarioRegistro.Email is null)
            {
                Toast.ShowError("Ingrese una Direccion de correo electronico");
            }
            if (usuarioRegistro.NickName is null)
            {
                Toast.ShowError("Ingrese un NickName");
            }
            else if (usuarioRegistro.Clave != usuarioRegistro.ConfirmarClave)
            {
                Toast.ShowError("Las contraseñas no coinciden");
            }
            else
            {
                switch (validacionResultado)
                {
                    case 1:
                        Toast.ShowError("Este Email ya se encuentra registrado");
                        break;
                    case 2:
                        Toast.ShowError("El NickName se encuentra en uso");
                        break;
                }
            }

        }
    }
