@inherits LayoutComponentBase

<header>
    <NavMenu />  
</header>

<div class="container-fluid " style="background-image: url('./Images/EmojiBack.jpg'); width:inherit; ">
    <main role="main" class="content mx-0 mx-sm-5" style="height:inherit; ">
        @Body
    </main>
</div>

