@inherits LayoutComponentBase

<header>
    <NavMenu />  
</header>

<div class="container-fluid " style="background-image: url('./Images/EmojiBack.jpg'); Width:inherit; ">
    <main role="main" class="content mx-5">
        @Body
    </main>
</div>

