@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<header>
    <NavMenu />  
</header>

<div class="container-fluid " style="background-image: url('./Images/EmojiBack.jpg'); width:inherit; ">
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    IconType="IconType.FontAwesome"
                    ShowProgressBar="true"/>

    <main role="main" class="content mx-0 mx-sm-5" style="height:inherit; ">
        @Body
    </main>
</div>

