<div class="modal fade show" role="dialog" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true">
    <div class="modal-dialog h-75 d-flex align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fs-4 fw-bold">@Titulo</span>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <span class="fs-5 text-center">@Descripcion</span>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-success btn-lg" @onclick="Aceptar">@BtnVerdeTexto</button>
                <button type="button" class="btn btn-danger btn-lg" @onclick="Cancelar">@BtnRojoTexto</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public string Descripcion { get; set; }

    [Parameter]
    public string BtnVerdeTexto { get; set; }

    [Parameter]
    public string BtnRojoTexto { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task Cancelar()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task Aceptar()
    {
        return OnClose.InvokeAsync(true);
    }


}