<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow" style="background: linear-gradient(to right, #00ffff 0%, #66ffff 100%); ">
    <div class="container m-0 ">
        <a class="navbar-brand" asp-area="" asp-page="/Index" href="">Fantastic Matchers</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="ToggleNavMenu">
            <div class="align-content-lg-end">
                <a href="/register">Registrarse</a>
                <a href="/login">Iniciar sesión</a>
            </div>
            <ul class="navbar-nav flex-grow-1  ">
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-home"></span> Jugar solo
                    </NavLink>
                </li>
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="/one_vs_one">
                        <span class="oi oi-globe" aria-hidden="true"></span> Jugar 1vs1
                    </NavLink>
                </li>
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="/torneos">
                        <span class="oi oi-globe" aria-hidden="true"></span> Torneos
                    </NavLink>
                </li>
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="/rankings">
                        <span class="oi oi-home"></span> Rankings
                    </NavLink>
                </li>
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="/nosotros">
                        <span class="oi oi-home"></span> Nosotros
                    </NavLink>
                </li>
            </ul>
            
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}